<!-- <mat-toolbar color="primary">
  <mat-icon>local_fire_department</mat-icon>
  <span>Texting Journal</span>
</mat-toolbar> -->
<!-- fxLayout="column" fxLayoutAlign="space-evenly center" fxFill -->
<!-- <div fxLayout='column' class="zero">

  <div fxFlex="33" class="one"></div>
  <div fxFlex="33%" fxLayout="column" class="two">

    <div fxFlex="22%" class="two_one">a</div>
    <div fxFlex="205px" class="two_two">b</div>
    <div fxFlex="30" class="two_three">c</div>

  </div>
  <div fxFlex class="three"></div>

</div> -->

<div fxLayout="column" class="content-wrapper">
  <div class="container-wrapper" fxFlex=70>
    <div #messagesContainer class="container">
      <app-message *ngFor="let message of messageList | async" [message]="message"></app-message>
    </div>
  </div>
  <div fxFlex=30>
    <app-message-box (newMessage)="addMessage($event)"></app-message-box>
  </div>
</div>
