<mat-toolbar color="primary">
  <mat-icon>local_fire_department</mat-icon>
  <span>Texting Journal</span>
</mat-toolbar>
<div class="content-wrapper">
  <button (click)="newMessage()" mat-button>
    <mat-icon>add</mat-icon> Add Message
  </button>

  <div class="container-wrapper">
    <div class="container">
      <app-message *ngFor="let message of messageList | async" [message]="message"></app-message>
    </div>
  </div>

  <app-message-box (newMessage)="addMessage($event)"></app-message-box>
</div>
