<mat-toolbar color="primary">
  <mat-icon>local_fire_department</mat-icon>
  <span>Texting Journal</span>
</mat-toolbar>
<div class="content-wrapper">
  <button (click)="newMessage()" mat-button>
    <mat-icon>add</mat-icon> Add Message
  </button>

  <div class="container-wrapper">
    <div class="container">
      <app-message *ngFor="let message of messageList | async" [message]="message"></app-message>
    </div>
  </div>
</div>


<h1>TinyMCE 5 Angular Demo</h1>
<editor initialValue="<p>Initial content of the editor</p>" apiKey="0545rllv8vglzm8m9plz79zibulqz9p749ujwouf2kep0i1m"
  [init]="{
  height: 500,
    menubar: false,
    plugins: [
      'advlist autolink lists link image charmap print',
      'preview anchor searchreplace visualblocks code',
      'fullscreen insertdatetime media table paste',
      'help wordcount'
    ],
    toolbar:
      'undo redo | formatselect | bold italic | \
      alignleft aligncenter alignright alignjustify | \
      bullist numlist outdent indent | help'
  }">
</editor>

<!--
<editor [init]="{
  base_url: '/tinymce', // Root for resources
  suffix: '.min', // Suffix to use when loading resources
  plugins: 'lists advlist',
  toolbar: 'undo redo | bold italic | bullist numlist outdent indent'
}"></editor> -->
