<!-- <mat-form-field>
  <mat-label>Contents</mat-label> -->
<!-- <angular-simplemde cdkFocusInitial [(input)]="editorInput"></angular-simplemde> -->
<angular-simplemde cdkFocusInitial [(input)]="editorInput" (inputChange)="updateData()">
</angular-simplemde>
<!-- <textarea matInput cdkFocusInitial [(ngModel)]="data.message.contents"></textarea> -->
<!-- </mat-form-field> -->

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="{ message: data.message }">OK</button>
  <button mat-button (click)="cancel()">Cancel</button>
</div>
