<mat-form-field appearance="fill">
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [rangePicker]="weekPicker">
    <input matStartDate placeholder="Start date" [(ngModel)]="startWeekDate" (ngModelChange)="updateRange()">
    <input matEndDate placeholder="End date" [(ngModel)]="endWeekDate" (ngModelChange)="updateRange()">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="weekPicker"></mat-datepicker-toggle>
  <mat-date-range-picker #weekPicker></mat-date-range-picker>
</mat-form-field>